.mars{
    background-image: url('https://drive.google.com/uc?export=view&id=1hbpiu8WC_gV_-dN8eRX1zPR2lFO5fqpP');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    color:aliceblue;
    text-align:left;
}
body{
    background-image: url('https://drive.google.com/uc?export=view&id=1fWiAeUDUnA-rMvW64rLhPxuLZs4PAvIK');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: white;
    border: 1px solid white;
    padding: 50px;
    font-size: 300%;
    text-align: center;
}